<li class="h-cart">
  <a class="cart-contents" href="{% url 'web:carrito' %}">
    <p class="h-cart-icon">
      <i class="ion-android-cart"></i>
      <span>{{request.session.cart.items|length}}</span>
    </p>
    <p class="h-cart-total">${{request.session.cartMontoTotal}}0</p>
  </a>
  <div class="widget_shopping_cart">
    <div class="widget_shopping_cart_content">
      <ul class="cart_list">
        {% for key,value in request.session.cart.items %}
        <li>
          <a
            href="{% url 'web:eliminarProductoCarrito' value.producto_id %}"
            class="remove"
            >&times;</a
          >
          <a href="#">
            {% if value.imagen %}
            <img src="{{value.imagen}}" alt="{{value.nombre}}" />
            {% else %}
            <img src="https://via.placeholder.com/250" alt="{{value.nombre}}" />
            {% endif %} {{value.nombre}}
          </a>
          <span class="quantity"
            >{{value.cantidad}} &times; {{value.precio}}</span
          >
        </li>
        {% endfor %}
      </ul>
      <p class="total"><b>Total:</b>${{request.session.cartMontoTotal}}0</p>
      <p class="buttons">
        <a
          href="{% url 'web:carrito' %}"
          class="button"
          style="margin-left: 3rem"
          >Ver Carrito</a
        >
        {% comment %} <a href="#" class="button">Pedido</a> {% endcomment %}
      </p>
    </div>
  </div>
</li>
