{% extends 'layout.html' %} {% block content %}
<h1 class="maincont-ttl">Login - Registro</h1>
<ul class="b-crumbs">
  <li><a href="index.html">Inicio</a></li>
  <li>Login & Registro</li>
</ul>
<article class="page-cont">
  <div class="page-styling">
    <div class="auth-wrap">
      <div class="auth-col">
        <h2>Login</h2>
        <form method="post" class="login" action="{% url 'web:loginUsuario' %}">
          {% csrf_token %}
          <input type="hidden" name="destino" value="{{destino}}"/>
          <p>
            <label for="username">E-mail <span class="required">*</span></label>
            <input type="text" id="username" name="usuario" />
          </p>
          <p>
            <label for="password"
              >Password <span class="required">*</span></label
            >
            <input type="password" id="password" name="password" />
          </p>
          <p class="auth-submit">
            <input type="submit" value="Login" />
            {% comment %}
            <input type="checkbox" id="rememberme" value="forever" />
            <label for="rememberme">Remember me</label> {% endcomment %}
          </p>
          <p>
            <labe style='color: red;' for="alert-danger">{{mensajeError}}</label>
          </p>
          {% comment %}
          <p class="auth-lost_password">
            <a href="#">Lost your password?</a>
          </p>
          {% endcomment %}
        </form>
      </div>
      <div class="auth-col">
        <h2>Registro</h2>
        <form
          method="post"
          class="register"
          action="{% url 'web:crearUsuario' %}"
        >
          {% csrf_token %}
          <p>
            <label for="reg_email"
              >Nombre de usuario <span class="required">*</span></label
            >
            <input type="text" id="reg_email" name="nuevoUsuario" />
          </p>
          <p>
            <label for="reg_password"
              >Password <span class="required">*</span></label
            >
            <input type="password" id="reg_password" name="nuevoPassword" />
          </p>
          <p class="auth-submit">
            <input type="submit" value="Crear Cuenta" />
          </p>
        </form>
      </div>
    </div>
  </div>
</article>

{% endblock %}
