{% extends 'layout.html' %} {% block content %}
<ul class="b-crumbs">
  <li><a href="/">Inicio</a></li>
  <li><a href="/">Catalogo</a></li>
  <li>Producto</li>
</ul>
<article>
  <div class="prod">
    <div class="prod-slider-wrap prod-slider-shown">
      <div class="" id="prod-slider">
        <ul class="slides">
          <li>
            <a data-fancybox-group="prod" class="fancy-img" href="#">
              {% if producto.imagen %}
              <img src="{{producto.imagen.url}}" alt="{{producto.nombre}}" />
              {% else %}
              <img
                src="https://via.placeholder.com/250"
                alt="{{producto.nombre}}"
              />
              {% endif %}
            </a>
          </li>
          {% comment %}
          <li>
            <a data-fancybox-group="prod" class="fancy-img" href="#">
              {% if producto.imagen %}
              <img src="{{producto.imagen.url}}" alt="{{producto.nombre}}" />
              {% else %}
              <img
                src="https://via.placeholder.com/250"
                alt="{{producto.nombre}}"
              />
              {% endif %}
            </a>
          </li>
          {% endcomment %}
        </ul>
        {% comment %}
        <div class="prod-slider-count">
          <p>
            <span class="count-cur">1</span> / <span class="count-all">2</span>
          </p>
          <p class="hover-label prod-slider-zoom">
            <i class="icon ion-search"></i><span>Zoom In</span>
          </p>
        </div>
        {% endcomment %}
      </div>
      {% comment %}
      <div class="flexslider prod-thumbs" id="prod-thumbs">
        <ul class="slides">
          <li>
            {% if producto.imagen %}
            <img src="{{producto.imagen.url}}" alt="{{producto.nombre}}" />
            {% else %}
            <img
              src="https://via.placeholder.com/250"
              alt="{{producto.nombre}}"
            />
            {% endif %}
          </li>
          <li>
            {% if producto.imagen %}
            <img src="{{producto.imagen.url}}" alt="{{producto.nombre}}" />
            {% else %}
            <img
              src="https://via.placeholder.com/250"
              alt="{{producto.nombre}}"
            />
            {% endif %}
          </li>
        </ul>
      </div>
      {% endcomment %}
    </div>

    <div class="prod-cont">
      {% comment %}
      <div class="prod-rating-wrap">
        <p data-rating="4" class="prod-rating">
          <i class="rating-ico" title="1"></i>
          <i class="rating-ico" title="2"></i>
          <i class="rating-ico" title="3"></i>
          <i class="rating-ico" title="4"></i>
          <i class="rating-ico" title="5"></i>
        </p>
        <p class="prod-rating-count">7</p>
      </div>
      {% endcomment %}
      <p class="prod-categs">
        <a href="{% url 'web:productosPorCategoria' producto.categoria_id %}"
          >{{producto.categoria}}</a
        >
      </p>
      <h1>{{producto.nombre}}</h1>
      <div class="variations_form cart">
        <p class="prod-price">${{producto.precio}}</p>
        <p class="prod-excerpt">
          {{producto.descripcion}}... {% comment %}
          <a id="prod-showdesc" class="prod-excerpt-more" href="#">read more</a>
          {% endcomment %}
        </p>
        <div class="prod-add">
          <form
            action="{% url 'web:agregarCarrito' producto.id %}"
            method="post"
          >
            {% csrf_token %} {% comment %}
            <div class="variations">
              <div class="variations-row">
                <div class="label"><label>Сolor</label></div>
                <div class="value">
                  <select>
                    <option value="">Choose an option</option>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                    <option value="yellow">Yellow</option>
                  </select>
                </div>
              </div>
            </div>
            {% endcomment %}
            <button type="submit" class="button">
              <i class="icon ion-android-cart"></i> Agregar al Carrito
            </button>
            <p class="qnt-wrap prod-li-qnt" style="margin-left: 1.5rem">
              <a href="#" class="qnt-plus prod-li-plus"
                ><i class="icon ion-arrow-up-b"></i
              ></a>
              <input type="text" name="cantidad" value="1" />
              <a href="#" class="qnt-minus prod-li-minus"
                ><i class="icon ion-arrow-down-b"></i
              ></a>
            </p>
          </form>
        </div>
      </div>
      <div class="">
        <dl class="product_meta"></dl>
      </div>
    </div>
  </div>
</article>

{% endblock %}
